<%- include('./partials/header.ejs'); %> 
<%- include('./partials/navbar.ejs'); %> 

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-header text-white bg-primary">Profile</div>
                <div class="card-body">
                    <table class="table table-borderless table-responsive">
                        <tbody>
                            <tr>
                                <th>Name</th>
                                <td><%= user.name %></td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td><%= user.email %></td>
                            </tr>
                            <tr>
                                <th>Plan</th>
                                <td><%= user.planName %></td>
                            </tr>
                            <tr>
                                <th>status</th>
                                <td><%= user.subcriptionStatus %></td>
                            </tr>
                            <tr>
                                <th>Start</th>                                
                                <td><%= new Date(user.currentPeriodStart).toLocaleString() %> </td>
                            </tr>
                            <tr>
                                <th>End</th>
                                <td><%= new Date(user.currentPeriodEnd).toLocaleString() %> </td>
                            </tr>
                            <tr>
                                <th>Auto renew</th>
                                <td>
                                    <form name="autoRenewSubscriptionForm" method="post" action="/stripe/cancelSubcription" id="autoRenewSubscriptionForm">
                                        <input type="hidden" name="customerId" value="<%= user.customerId %>">
                                        <div class="form-check form-switch">                                    
                                            <% if(user.cancelAtPeriodEnd === "false" && user.subcriptionStatus === "active") { %>
                                                <input type="hidden" name="renewStatus" value="true">
                                                <input class="form-check-input" type="checkbox" id="autoRenewSubscription" checked  >
                                                <label class="form-check-label" for="autoRenewSubscription">On</label>

                                            <%  } %> 
                                            <% if(user.cancelAtPeriodEnd === "true" && user.subcriptionStatus === "active") { %>
                                                <input type="hidden" name="renewStatus" value="false">
                                                <input class="form-check-input" type="checkbox" id="autoRenewSubscription">
                                                <label class="form-check-label" for="autoRenewSubscription">Off</label>
                                            <% } %>   
                                        </div>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">                                    
                                    <% if (user.cancelAtPeriodEnd === "false" && user.subcriptionStatus === "active") { %>
                                        <div class="alert alert-success" role="alert">
                                            Your subscription renew in <strong><%= new Date(user.currentPeriodEnd).toLocaleString() %></strong>
                                        </div>                                        
                                    <% } %> 
                                    <% if (user.cancelAtPeriodEnd === "true" && user.subcriptionStatus === "active") { %>
                                        <div class="alert alert-warning" role="alert">
                                            Your subscription expire in <strong><%= new Date(user.currentPeriodEnd).toLocaleString() %></strong>
                                        </div>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <a href="/user/changePlan" class="btn btn-primary d-inline-block">Change Plan</a> 
                                    <form action="/stripe/deleteSubscription" method="post" class="d-inline-block">
                                        <input type="hidden" name="subcriptionId" value="<%= user.subcriptionId %>">
                                        <input type="hidden" name="customerId" value="<%= user.customerId %>">
                                        <input type="submit" name="cancelSubscription" value="Cancel subscription" class="btn btn-danger">
                                    </form>                     
                                </td>                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>        
        </div>
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header text-white bg-primary">Your Order</div>
                <div class="card-body table-responsive ">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>#Id</th>
                                <th>Date</th>
                                <th>Reason</th>
                                <th>Currency</th>
                                <th>Charge Id</th>
                                <th>Transaction Id</th>
                                <th>Invoice</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (orders.length) {
                                for (let i = 0;i < orders.length;i++) { %>
                                    <tr>
                                        <td><%= orders[i].dataValues.id %> </td>
                                        <td><%= orders[i].dataValues.createdAt %> </td>
                                        <td><%= orders[i].dataValues.billingReason %> </td>
                                        <td><%= orders[i].dataValues.currency %> </td>
                                        <td><%= orders[i].dataValues.chargeId %> </td>
                                        <td><%= orders[i].dataValues.balanceTransactionId %> </td>
                                        <td><a href="<%= orders[i].dataValues.invoicePdf %>" class="btn btn-primary">Download</a> </td>
                                        <td><%= orders[i].dataValues.status %> </td>
                                    </tr>
                            <%  }   
                             } %>                             
                        </tbody>
                    </table>                    
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs'); %> 