<%- include('./partials/header.ejs'); %>
<%- include('./partials/navbar.ejs'); %>
    <% if(plan.length) { %>
        <div class="container mt-3">
            <div class="row">
                <% for(let i=0 ; i < plan.length; i++) { %>
                    <div class="col-md-4 mb-2">
                        <div class="card shadow">
                            <div class="card-header text-white bg-primary"><%= plan[i].name %></div>
                            <div class="card-body">
                                <h4 class="card-title"><i class="fas fa-rupee-sign"></i><%= price[i].unit_amount/100 %>/<%= price[i].recurring.interval %></h4>
                                <a href="/subcriptionForm/<%= plan[i].name %>/<%= plan[i].id %>/<%= plan[i].default_price %>" class="btn btn-primary px-4">Subscribe</a>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    <% } %>
 <%- include('./partials/footer.ejs'); %>